h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 14px;
    line-height: 24px;
}
p{
    font-size: 12px;
}
ul{
    font-size: 12px;
}
.small{
    font-size: 12px;
}
.subtext{
    font-size: 10px;
}

@media (min-width:801px)  {
    h1{
        font-size: 42px;
    }
    
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
        line-height: 24px;
    }
    p{
        font-size: 14px;
    }
    ul{
        font-size: 17px;
        line-height: 28px;
    }
    .small{
        font-size: 12px;
    }
    .subtext{
        font-size: 10px;
    }
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.47);;
}
