$primary: #075a55;
$primary-10: #cddedd;
$primary-20: #acc8c6;
$primary-30: #83adaa;
$primary-40: #5a918e;
$primary-50: #307671;
$primary-60: #064b47;
$primary-70: #053c39;
$primary-80: #042d2b;
$primary-90: #021e1c;
$primary-100: #011211;
$secondary: #dae31f;
$secondary-10: #f8f9d2;
$secondary-20: #f3f6b4;
$secondary-30: #edf18f;
$secondary-40: #e6ec6a;
$secondary-50: #e0e844;
$secondary-60: #b6bd1a;
$secondary-70: #919715;
$secondary-80: #6d7210;
$secondary-90: #494c0a;
$secondary-100: #2c2d06;

$white: #FFF;
$black: #000;
