@import "./animation";
@import "./variables";
@import "./display";

@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaBlack.otf') format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaBold.otf') format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaSemiBold.otf') format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaMedium.otf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaRegular.otf') format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "br-firma";
    src: url('~/assets/font/BRFirmaLight.otf') format("truetype");
    font-weight: 100;
}

body{
    font-family: br-firma;
    color: $white;
    font-weight: 200;
    line-height: 24px;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none;
  }
#desktop {
    display: none;
  }
  #mobile{
    display: block;
  }
.relative{
    position: relative;
}
.section-padding{
    padding: 0 24px;
}
.primary{
    color: $primary !important;
}
.secondary{
    color: $secondary;
}
.loading-component{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    color: $primary;
}
.success-message{
    text-align: center;
    width: 100%;
    margin-top: 16px;
    p{
        color: $primary;
        font-size: 14px;
    }
}
.bold{
    font-weight: 600;
}
.pointer{
    cursor: pointer;
}
input, textarea{
    &:focus{
        outline: none;
        box-shadow: none !important;
    }
}
table{
    color: $primary;
}
.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spinn 1s ease-in-out infinite;
    margin-left: 10px;
    margin-bottom: -4px;
  }
  @keyframes spinn {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spinn {
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
.title-label{
    border-radius: 0px 15px 15px 15px;
    background: var(--primary-green, #075A55);
    padding: 4px 12px;
    width: fit-content !important;
    border: 1px solid $secondary;
    color: $white;
    font-size: 12px;
    margin-bottom: 24px;
}
a{
    color: $white;
    &:hover{
        color: $secondary;
        text-decoration: none;
    }
}
@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}
.fade-enter-active {
    transition: opacity 2s;
  }
  .fade-leave-active{
    opacity: 0;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .fade-extra-enter-active {
    transition: opacity 2s;
  }
  .fade-extra-leave-active{
    opacity: 0;
  }
  .fade-extra-enter, .fade-extra-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.75s ease-out;
  }
  
  .slide-enter-to {
    position: absolute;
    right: 0;
  }
  
  .slide-enter-from {
    position: absolute;
    right: -100%;
  }
  
  .slide-leave-to {
    position: absolute;
    left: -100%;
  }
  
  .slide-leave-from {
    position: absolute;
    left: 0;
  }
.sidebar{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    top: 0;
    display: flex;
    &-col1{
        width: 0%;
        background: transparent;
    }
    &-col2{
        width: 100%;
        background-color: $primary;
        padding-top: 40px;
        
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                cursor: pointer;
                width: 80%;   
            }
        }
        &-body{
            width: 90%;
            margin: 0 auto;
            margin-top: 64px;
            text-align: center;
            cursor: pointer;
            .active{
                color: $secondary;
            }
            h2{
                font-size: 26px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
            }
            h2, p {
                color: $white;
                &:hover{
                    color: $secondary;
                    text-decoration: none;
                }
            }
        }
    }
}
.landing{
    // background-color: $primary;
    padding-top: 40px;
    width: 100%;
    height: 101vh;
    position: relative;
    .background-video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        video{
            object-fit: cover;
            width: 100%;
        height: 100%;
        }
    }
    h2{
        font-size: 26px;
        margin-bottom: 16px;
    }
    p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    h2, p {
        color: $white;
        cursor: pointer;
        &:hover{
            color: $secondary;
            text-decoration: none;
        }
    }
    &-fullscreen{
        &-text{
            width: 100%;
            margin-top: 45%;
            h1{
                font-size: 30px;
            }
            h1{
                span{
                    position: relative;
                    opacity: 0;
                    animation: move-text 0.75s forwards;
    
                    &:nth-child(1){
                        animation-delay: 0.5s;
                    }
                    &:nth-child(2){
                        animation-delay: 0.75s;
                    }
                    &:nth-child(3){
                        animation-delay: 1s;
                    }
                    &:nth-child(4){
                        animation-delay: 1.25s;
                    }
                    &:nth-child(5){
                        animation-delay: 1.5s;
                    }
                    &:nth-child(6){
                        animation-delay: 1.75s;
                    }
                    &:nth-child(7){
                        animation-delay: 2s
                    }
                }
            }
        }
        &-header{
            img{
                width: 157px;
                height: 35px;   
            }
        }
       &-image{
        width: 60%;
        text-align: center;
        margin: 50% auto 0 auto;
        img{
            width: 100%;
            cursor: pointer;
        }
       }
    }
    &-flex{
        overflow: auto;
        top: 0;
        display: flex;
        flex-direction: column;
    }
    &-col1{
        width: 40%;
        &-header-logo{
            img{
                cursor: pointer;
                width: 100%;   
            }
        }
    }
    &-col2{
        width: 100%;
        margin-top: 30%;
        text-align: center;
        // padding-left: 40px;
        &-body{
            .active{
                color: $secondary;
            }
        }
    }
    &-col3{
        width: 35%;
        margin-top: 14%;
        padding-top: 16px;
        padding-left: 64px;
    }
}
.grid-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--text, rgba(0, 0, 0, 0.70));
    &-col1{
        width: 100%;
    }
    &-col2{
        width: 100%;

        .divider{
            background: rgba(205, 222, 221, 0.21);
            width: 4px;
            height: 100%;
            margin: 0 auto;
        }
    }
    &-col3{
        width: 100%;
        p{
            font-size: 12px;
            line-height: 24px;
        }
    }
    &-image{
        margin: 24px auto 40px auto;
        img{
            width: 100%;
        }
    }
    &-full-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
        div{
            width: 100%;
            margin-top: 40px;
           
            &:first-child{
                margin-top: 0;
                p{
                    margin-bottom: 10px !important;
                }
            }
            img{
                width: 10%;
            }
        }
        h4{
            margin: 12px auto 8px auto;
            font-size: 18px;
        }
        p{
            font-size: 12px !important;
            line-height: 24px;
            color: $black;
            font-weight: 100;
        }
        &.first-row{
            margin-bottom: 40px;
        }
    }
    &-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 40px;
        text-align: left;
        div{
            width: 100%;
            margin-bottom: 24px;
            img{
                width: 10%;
            }
        }
        h4{
            margin: 8px auto 8px auto;
            font-size: 18px;
        }
        p{
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 4px;
        }
    }
}
.grid-modal{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    background: rgba($color: #141414, $alpha: 0.7);
    position: fixed;
    overflow: auto;
    top: 0;
    z-index: 10031;
    &-card{
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        margin-top: 7%;
        width: 100%;
        overflow: auto;
        padding: 60px 40px 64px 40px;
        border-radius: 20px 20px 0 0;
        background-color: $white;
        color: var(--Text, rgba(0, 0, 0, 0.70));
        min-height: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        &-col1{
            width: 100%;
            margin-bottom: 24px;
            .modal-image{
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }
        &-col2{
            .divider{
                background: rgba(205, 222, 221, 0.21);
                width: 4px;
                height: 100%;
                margin: 0 auto;
            }
        }
        &-col3{
            width: 100%;
            .view-more{
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }
    .green{
        background-color: $primary;
        color: $white;
    }
}
.contact-card{
    background: var(--linear, linear-gradient(130deg, #075A55 0%, #DAE31F 86.68%));
    width: 100%;
    padding: 4px;
    border-radius: 0px 15px 15px 15px;
    margin-top: 40px;
    &-inner{
        border-radius: 0px 15px 15px 15px;
        background: $white;
        width: 100%;
        padding: 16px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
        text-align: center;
        h3{
            margin-block-end: 12px;
        }
        a{
            color: var(--text, rgba(0, 0, 0, 0.70));
        }
    }
}
.contact-us-form{
    border-radius: 0px 17px 17px 17px;
    background: #F6F9F9;
    padding: 24px 8px;
    margin-top: 24px;
    .form-control{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid $primary;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 24px;
    }
    textarea{
        display: block;
        width: 100%;
        padding: 0.375rem 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid $primary;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-bottom: 24px;
    }
    .form-group{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        div{
            width: 100%;
        }
        margin-bottom: 0px;
    }
    .btn-primary{
        background-color: $primary;
        border-radius: 25px;
        float: right;
        margin-top: 40px;
        color: $secondary;
        padding: 12px 64px;
        font-size: 12px;
    }
}
.network-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 24px;
    div{
        width: 49%;
        margin-bottom: 16px;
        background-color: #F3F7F6;
        color: $primary;
        text-align: center;
        border-radius: 0px 15px 15px 15px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            cursor: pointer;
            margin-top: 24px;
            span{
                margin-left: 8px;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }

    }
    img{
        width: 50%;
    }
    .green{
        background-color: $primary;
        color: $white;
    }
}
.services-list{
    span{
        margin-right: 8px;
        img{
            height: 18px;
            width: 18px;
            margin-bottom: 4px;
        }
    }
}
.clients{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    margin-top: 40px;
    &-card{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 24px;
        position: relative;
        border-radius: 0px 15px 15px 15px;
        cursor: pointer;
        &-text{
            // color: #075A55;
            position: absolute;
            bottom: 0;
            padding: 0 4px 20px 20px;
            width: 100%;
            background: linear-gradient(180deg, rgba(7, 90, 85, 0.00) 39.86%, rgba(7, 90, 85, 0.80) 98.72%);
            border-radius: 0px 15px 15px 15px;
            p{
                font-size: 12px;
                margin-bottom: 0;
                &:first-child{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }
    img{
        width: 100%;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 0.17px solid $primary;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 12px 0px rgba(7, 90, 85, 0.10);
    backdrop-filter: blur(2px);
    margin-bottom: 32px;
    img{
        width: 100%;   
    }
    &-logo{
        img{
            width: 50%;
        }
    }
}
.footer{
    background-color: $primary;
    margin-top: 40px;
    ul{
        list-style-type: none;
        padding: .5rem 0 !important;
        margin-bottom: 0;
        li{
            font-weight: 300;
            margin-bottom: 8px;
            font-size: 14px;
        }
      }
    &-section1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-col1{
            width: 100%;
            text-align: center;
            h5{
                font-weight: 400;
                margin-top: 16px;
            }
        }
        &-col2{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 24px;
            margin-top: 40px;
            text-align: center;
        }
    }
    padding-top: 64px;
    padding-bottom: 64px;
    .mobile-footer-logo{
        width: 50%;
    }
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// devGeorge Normal 
.horizontal-divider{
    width: 90%;
    height: 21px;
    background: #F4F5F6;
    margin: 0 auto;
}
.ySpace {
    height: 50px;
}
.center {
    text-align: center;
}
.align-center{
    // margin: 0 auto;
    display: flex; justify-content: center;
}
.btn-rounded {
    border-radius: 50rem !important;
    background-color: #2A5750;
    padding: 12px 30px;
    color:  white;
    cursor: pointer;
    transition-property: padding;
    transition: 0.3s all ease-in-out;
}
.btn-rounded:hover {
    transition: 0.3s all ease-in-out;
    padding: 12px 32px;
}

.key_initiatives {
    display: flex; 
    justify-content: center;

     img {
        height:100px;
        width: 100px;
        margin-bottom: 15px;
    }
    .content {
        text-align: center;
        font-size: 20px;
        color: #2A5750;
        line-height: 35px;
        margin-bottom: 25px;
    }
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
    100% {box-shadow: 5px 5px 18px 0px rgba(216, 222, 71, 1);}
  }

.press_card {
    padding: 10px;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.3s all ease-in-out;
    box-shadow: 2px 2px 1px 1px #d5d4d446;

    &:hover {
        transition: 0.3s all ease-in-out;
        box-shadow: 5px 5px 3px 1px #d5d4d446;
    }
}
.colored_a {
    color: $primary;
}

.workshop {
    // background-color: blue;
    .workshop-title {
        text-align: center;
        color:  #282A3A;
        max-width: 88%;
        margin: 0 auto;
    }
    .workshop-subtitle {
        text-align: center;
        color:  #282A3A;
        max-width: 80%;
        margin: 24px auto;
    }
    .workshop-subtitle > p{
        font-size: 16px !important;
    }

    // btn

    .workshop-image {
        text-align: center;
    }
    .workshop-image > img {
        width: 80%;
    }

    .workshop-record{
        color: #282A3A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: 80px;
    }
    .workshop-record > div{
        flex: 1;
        padding: 0.5em;/* add some padding ?*/
        text-align: center;
        border-right: 0.7px solid black;
    }
    .workshop-record > div:last-child{
        border: none; 
    }
    
   
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .marquee div {
      display: inline-block;
      animation: marquee 15s linear infinite;
    }
    .marquee div  img{
        width: 50%;
    }

  @keyframes marquee {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .btn-rounded {
        border-radius: 50rem !important;
        background-color: #2A5750;
        padding: 18px 48px;
        color:  white;
        cursor: pointer;
        transition-property: padding;
        transition: 0.3s all ease-in-out;
    }
    .btn-topRight-bottomLeft-rounded {
        border-top-right-radius: 32px !important;
        border-bottom-left-radius: 32px !important;
        background-color: #2A5750;
        padding: 18px 48px;
        color:  white;
        cursor: pointer;
        transition-property: padding;
        transition: 0.3s all ease-in-out;
    }
    .btn-rounded:hover, 
    .btn-topRight-bottomLeft-rounded:hover {
        transition: 0.3s all ease-in-out;
        padding: 18px 50px;
    }
  
//   @media only screen and (min-width: 320px) and (max-width: 801px)  {}

// From 801 to Bigger screens
@media (min-width:801px)  {
    #desktop {
        display: block;
      }
      #mobile{
        display: none;
      }
    .section-padding{
        padding: 0 104px;
    }
    .loading-component{
        text-align: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 120px;
        font-size: 16px;
        color: $primary;
    }
    .title-label{
        border-radius: 0px 15px 15px 15px;
        background: var(--primary-green, #075A55);
        padding: 8px 16px;
        width: fit-content !important;
        border: 1px solid $secondary;
        color: $white;
        font-size: 16px;
        margin-bottom: 0;
    }
    .success-message{
        margin-top: 24px;
        p{
            color: $primary;
            font-size: 18px;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 0.17px solid $primary;
        background: rgba(255, 255, 255, 0.50);
        box-shadow: 0px 4px 12px 0px rgba(7, 90, 85, 0.10);
        backdrop-filter: blur(2px);
        margin-bottom: 80px;
        img{
            width: 100%;   
            cursor: pointer;
        }
        &-logo{
            img{
                width: 50%;
            }
        }
    }
    .sidebar{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
        overflow: auto;
        top: 0;
        display: flex;
        &-col1{
            width: 5%;
            background: transparent;
        }
        &-col2{
            width: 95%;
            background-color: $primary;
            padding-top: 40px;
            &-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    cursor: pointer;
                    width: 100%;   
                }
            }
            &-body{
                margin-top: 12%;
                margin-left: 20%;
                width: 80%;
                text-align: left;
                cursor: pointer;
                .active{
                    color: $secondary;
                }
                h2{
                    font-size: 38px;
                }
                p{
                    font-size: 22px;
                }
                h2, p {
                    color: $white;
                    &:hover{
                        color: $secondary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .landing{
        // background-color: $primary;
        padding-top: 80px;
        width: 100%;
        min-height: 101vh;
        position: relative;
        .background-video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            video{
                object-fit: cover;
                width: 100%;
                height: 100vh;
            }
        }
        h2{
            font-size: 38px;
            line-height: 48px;
            margin-bottom: 16px;
        }
        p{
            font-size: 22px;
            margin-bottom: 20px;
        }
        h2, p {
            color: $white;
            cursor: pointer;
            &:hover{
                color: $secondary;
                text-decoration: none;
            }
        }
        &-fullscreen{
            &-text{
               width: 100%;
               display: flex;
               justify-content: center;
               margin-top: 20%;
               h1{
                font-size: 45px;
               }
            }
            &-header{
                img{
                    width: 157px;
                    height: 35px;   
                }
            }
        }
        &-flex{
            overflow: auto;
            top: 0;
            display: flex;
            flex-direction: row;
            padding-right: 136px;
            padding-left: 136px;
        }
        &-col1{
            width: 25%;
            &-header-logo{
                img{
                    cursor: pointer;
                    width: 157px;
                    height: 35px;   
                }
            }
        }
        &-col2{
            width: 45%;
            margin-top: 10%;
            // padding-left: 40px;
            text-align: left;
            &-body{
                .active{
                    color: $secondary;
                }
            }
        }
        &-col3{
            width: 35%;
            margin-top: 10%;
            padding-top: 16px;
            padding-left: 0;
        }
    }
    .grid-content{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: var(--text, rgba(0, 0, 0, 0.70));
        &-col1{
            width: 30%;
        }
        &-col2{
            width: 10%;

            .divider{
                background: rgba(205, 222, 221, 0.21);
                width: 4px;
                height: 100%;
                margin: 0 auto;
            }
        }
        &-col3{
            width: 60%;
            p{
                font-size: 20px;
                line-height: 31px;
            }
            li{
                margin-bottom: 12px;
            }
        }
        &-col12{
            width: 100%;
            p{
                font-size: 20px;
                line-height: 31px;
            }
            li{
                margin-bottom: 12px;
            }
        }
        &-image{
            margin: 48px auto 80px auto;
            img{
                width: 100%;
            }
        }
        &-full-row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            div{
                width: 33%;
                border-left: 1px solid rgba(205, 222, 221, 0.3);
                padding-left: 32px;
                padding-right: 8px;
                margin-top: 0;
                &:first-child{
                    border-left: 0;
                    padding-left: 0;
                    padding-right: 0;
                    p{
                        margin-bottom: 10px !important;
                    }
                }
                img{
                    width: 10%;
                }
            }
            h4{
                margin: 24px auto 8px auto;
                font-size: 18px;
            }
            p{
                font-size: 16px !important;
                line-height: 24px;
                color: $black;
                font-weight: 100;
            }
            &.first-row{
                margin-bottom: 64px;
            }
            &.second-row{
                margin-top: 64px;
            }
        }
        &-row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            text-align: left;
            margin-top: 40px;
            div{
                width: 37.5%;
                border-left: 1px solid rgba(205, 222, 221, 0.3);
                padding-left: 32px;
                padding-right: 8px;
                &:first-child{
                    width: 25%;
                    border-left: 0;
                    padding-left: 0;
                    padding-right: 0;
                    p{
                        margin-bottom: 10px !important;
                    }
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            h4{
                margin: 24px auto 8px auto;
                font-size: 18px;
            }
            p{
                font-size: 16px !important;
                line-height: 24px;
            }
        }
    }
    .grid-modal{
        min-height: 100vh;
        height: 100%;
        width: 100%;
        padding-top: 80px;
        background: rgba($color: #141414, $alpha: 0.7);
        position: fixed;
        overflow: auto;
        top: 0;
        z-index: 10031;
        &-card{
            margin: 0 auto;
            margin-top: 7%;
            width: 65%;
            overflow: auto;
            padding: 60px 40px 16px 40px;
            border-radius: 20px;
            background-color: $white;
            color: var(--Text, rgba(0, 0, 0, 0.70));
            position: relative;
            min-height: unset;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            height: 400px;
            &-col1{
                width: 25%;
                .modal-image{
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
            }
            &-col2{
                .divider{
                    background: rgba(205, 222, 221, 0.21);
                    width: 4px;
                    height: 100%;
                    margin: 0 auto;
                }
            }
            &-col3{
                width: 65%;
                .view-more{
                    margin-top: 80px;
                    cursor: pointer;
                }
            }
        }
        .green{
            background-color: $primary;
            color: $white;
        }
    }
    .clients{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5%;
        margin-top: 80px;
        &-card{
            width: 22.5%;
            margin: 0;
            margin-bottom: 24px;
            position: relative;
            border-radius: 0px 15px 15px 15px;
            cursor: pointer;
            &:hover {
                transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
              }
            &-text{
                // color: #075A55;
                position: absolute;
                bottom: 0;
                padding: 0 4px 20px 20px;
                width: 100%;
                background: linear-gradient(180deg, rgba(7, 90, 85, 0.00) 39.86%, rgba(7, 90, 85, 0.80) 98.72%);
                border-radius: 0px 15px 15px 15px;
                p{
                    font-size: 15px;
                    margin-bottom: 0;
                    &:first-child{
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 8px;
                    }
                }
            }
        }
        img{
            width: 100%;
        }
    }
  
    .contact-card{
        background: var(--linear, linear-gradient(130deg, #075A55 0%, #DAE31F 86.68%));
        width: 100%;
        padding: 4px;
        border-radius: 0px 15px 15px 15px;
        margin-top: 40px;
        &-inner{
            border-radius: 0px 15px 15px 15px;
            background: $white;
            width: 100%;
            padding: 30px 80px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            font-size: 18px;
            h3{
                margin-block-end: 0em;
            }
            a{
                color: var(--text, rgba(0, 0, 0, 0.70));
            }
            .span-divider{
                width: 4px;
                height: 37px;
                background: #F5F8F8;
                margin: 0 16px;
            }
        }
    }
    .contact-us-form{
        border-radius: 0px 17px 17px 17px;
        background: #F6F9F9;
        padding: 64px;
        margin-top: 40px;
        .form-control{
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: transparent;
            background-clip: padding-box;
            border: none;
            border-bottom: 1px solid $primary;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-bottom: 0;
        }
        textarea{
            display: block;
            width: 100%;
            padding: 0.375rem 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: transparent;
            background-clip: padding-box;
            border: none;
            border-bottom: 1px solid $primary;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-bottom: 0;
        }
        .form-group{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                width: 48%;
            }
            margin-bottom: 60px;
        }
        .btn-primary{
            background-color: $primary;
            border-radius: 25px;
            float: right;
            margin-top: 60px;
            color: $secondary;
            padding: 12px 64px;
            font-size: 16px;
        }
    }
    .network-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5%;
        margin-top: 80px;
        div{
            width: 22.5%;
            margin-bottom: 16px;
            background-color: #F3F7F6;
            color: $primary;
            text-align: center;
            border-radius: 0px 15px 15px 15px;
            height: 256px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                cursor: pointer;
                margin-top: 24px;
                span{
                    margin-left: 8px;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }

        }
        img{
            width: 50%;
        }
        .green{
            background-color: $primary;
            color: $white;
        }
    }
    .services-list{
        span{
            margin-right: 8px;
            img{
                height: 18px;
                width: 18px;
                margin-bottom: 4px;
            }
        }
    }
    .footer{
        background-color: $primary;
        margin-top: 80px;
        ul{
            list-style-type: none;
            padding: .5rem 0 !important;
            margin-bottom: 0;
            li{
                font-weight: 300;
                margin-bottom: 16px;
                font-size: 14px;
            }
          }
        &-section1{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            &-col1{
                width: 27%;
                text-align: left;
                h5{
                    font-weight: 400;
                    margin-top: 32px;
                }
            }
            &-col2{
                width: 55%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                gap: 24px;
                margin-top: 0;
            }
        }
        padding-top: 64px;
        padding-bottom: 64px;
    }

    // // devGeorge Media Query
    .btn-rounded {
        border-radius: 50rem !important;
        background-color: #2A5750;
        padding: 18px 48px;
        color:  white;
        cursor: pointer;
        transition-property: padding;
        transition: 0.3s all ease-in-out;
    }
    .btn-topRight-bottomLeft-rounded {
        border-top-right-radius: 32px !important;
        border-bottom-left-radius: 32px !important;
        background-color: #2A5750;
        padding: 18px 48px;
        color:  white;
        cursor: pointer;
        transition-property: padding;
        transition: 0.3s all ease-in-out;
    }
    .btn-rounded:hover, 
    .btn-topRight-bottomLeft-rounded:hover {
        transition: 0.3s all ease-in-out;
        padding: 18px 50px;
    }
    
    .key_initiatives {
        display: flex; 
        justify-content: center;
    
         img {
            height:160px;
            width: 160px;
            margin-bottom: 12px;
        }
        .content {
            text-align: center;
            font-size: 30px;
            color: #2A5750;
            line-height: 35px;
        }
    }

    //
    .workshop {
        .workshop-title {
            text-align: center;
            color:  #282A3A;
            max-width: 65%;
            margin: 0 auto;
        }
        .workshop-subtitle {
            text-align: center;
            color:  #282A3A;
            max-width: 40%;
            margin: 24px auto;
        }
        .workshop-subtitle > p{
            font-size: 16px !important;
        }

        // btn

        .workshop-image {
            text-align: center;
        }
        .workshop-image > img {
            width: 35%;
        }

        .workshop-record{
             color: #282A3A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            margin-top: 80px;
        }
        .workshop-record > div{
            flex: 1;
            padding: 0.5em;/* add some padding ?*/
            text-align: center;
            border-right: 0.7px solid black;
        }
        .workshop-record > div:last-child{
            border: none; 
        }
    }
    .marquee div  img{
        width: 35%;
    }
    //

}
@media screen and (min-width: 1440px) {}